* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 80vw;
  margin: 0 auto;
}
.language-changer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}

header {
  background: radial-gradient(
      circle at top,
      transparent 19%,
      #ffd700 20%,
      #2d51e5 25%,
      transparent 26%
    ),
    radial-gradient(
      circle at bottom,
      transparent 19%,
      #ffd700 20%,
      #2d51e5 25%,
      transparent 26%
    ),
    radial-gradient(
      circle at right,
      transparent 19%,
      #ffd700 20%,
      #2d51e5 25%,
      transparent 26%
    ),
    radial-gradient(
      circle at left,
      transparent 19%,
      #ffd700 20%,
      #2d51e5 25%,
      transparent 26%
    );
  background-size: 5em 5em;
  background-color: #0e128dd1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header .language-changer,
header .exit,
header .homepage {
  opacity: 1; /* Set the opacity to 1 for the elements you want to be at full opacity */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}
.language-changer select {
  border-radius: 20px;
  color: white;
  background-color: #0e128dd1;
  padding: 2px;
}
.exit {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-right: 10px;
}
.exit button {
  color: white;
  background-color: #0e128dd1;
  font-size: 1rem;
  padding: 13px 35px;
  border-radius: 20px;
  border: none;
}
.exit button:hover {
  cursor: pointer;
}
.homepage img {
  height: 150px;
  width: 150px;
  padding-bottom: 12px;
}
.content-top {
  margin-top: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
}
.card-header {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 2px solid #393da2;
  padding: 10px 0px;
}
.card-header h3 {
  letter-spacing: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-left: 2px solid #393da2;
  border-right: 2px solid #393da2;
  border-bottom: 2px solid #393da2;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 15px;
}
.card-body2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 2px solid #393da2;
  border-right: 2px solid #393da2;
  border-bottom: 2px solid #393da2;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 15px;
  gap: 20px;
}
.pfp {
  padding: 10px 20px;
}
.pfp img {
  border-radius: 50%;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
}
.upload div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}
.upload div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.upload div:nth-of-type(2) a {
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
}
.upload button {
  color: white;
  background-color: #0e128dd1;
  font-size: 1rem;
  padding: 13px 13px;
  border-radius: 20px;
  border: none;
  width: 177px;
}
.upload button:hover {
  cursor: pointer;
}
.content-bot {
  margin-top: 20px;
}
.body-content1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.body-content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.form-control {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid;
  width: 100%;
}
.form-control:focus {
}
@media (max-width: 748px) {
  .card-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-content-top {
    text-align: center;
  }
  .card-content-top > input {
    padding-left: 77px;
  }
  .card-content-bot {
    text-align: center;
  }
  .upload button {
    margin-left: 77px;
  }
  .body-content1 {
    flex-direction: column;
    gap: 20px;
  }
  .card-body2 {
    flex-direction: column;
  }
}
@media (max-width: 452px) {
  .pfp img {
    height: 200px;
    width: 200px;
  }
}
